<div class="nav">
  <p><%= image_tag  "tweetable" %></p>
  <p><%= link_to  "Home", tweets_path %></p>
  <p><%= link_to  "Profile", root_path %></p>
  <p><%= link_to  "Login", new_user_session_path %></p>
</div>