.form {
  width: 100%;
  padding: 8px 16px;
  background: white;
  margin-bottom: 12px;
  border: 1px solid #EBEEF0;
  padding: 20px 170px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.form__field {
  border: 1px solid #5B7083;
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}
.form__area {
  width: 260px;
  height: 160px;
  resize: none;
  border: 1px solid #767676;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
}
.form__area:focus {
  box-shadow: 0px 0px 6px #696D7D;
  border-color: #FF8B2C;
}

.form__field:focus {
  box-shadow: 0px 0px 6px var(--primary);
  border: 1px solid var(--primary);
}
.form__area:focus {
  box-shadow: 0px 0px 6px #696D7D;
  border-color: #FF8B2C;
}

.tweet-form {
  width: 100%;
  padding: 8px 16px;
  background: white;
  margin-bottom: 12px;
  border: 1px solid #EBEEF0;
  display: flex;
  gap: 8px;
}
.tweet-form form,
.tweet-form .field,
.tweet-form textarea {
  width: 100%;
}
.tweet-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tweet-form textarea {
  outline: none;
  border: none;
  resize: none;
  font-size: 16px;
  line-height: 24px;
}
