@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary: #1DA1F2;
  --primary-hover: #1B95E0;
  --primary-disable: #9AD0F9;
  --primary-text: #0F1419;
  --secundary-text: #5B7083;
  --error: #DD2E44;
  --background: #EBEEF0;
  --foreground: #F7F9FA;
  --font: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
